<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Actuelle" tabIcon="locate"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Favoris" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Positive" tabIcon="sunny"></ion-tab>
</ion-tabs>
