<!--
  Generated template for the AddCityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>AddCityPage</ion-title>
    <ion-buttons>
      <button ion-button (click)="closeModal()">Annuler</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="addCityPage">
  <form 
    (ngSubmit)="addCity(form.value)"
    [formGroup]="form">
    <ion-list>
      <ion-item margin-bottom>
        <ion-label>Ville : </ion-label>
        <ion-input 
          type="text" 
          formControlName="cityName"
          placeholder="Rechercher ..."></ion-input>
        </ion-item>

        <ion-item margin-bottom>
          <button
              ion-button
              color="primary"
              text-center
              block>Ajouter à mes favoris</button>
        </ion-item>
    </ion-list>
  </form>
</ion-content>
