page-home {

    text-align: center;

    .currentTemperature{
        font-size: 70px;
    }
    
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }
}
