<!-- <ion-header>
  <ion-navbar>
    <ion-title>Météo actuelle {{currentCityName}}</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content paddin> 
  <h2>{{currentCityName || "Ville"}}</h2>
  <img src="http://openweathermap.org/img/w/{{weatherData && weatherData.weather[0].icon || '01d'}}.png" />
  <p>
    {{weatherData && weatherData.weather[0].description || "description"}}
  </p>
  <p class="currentTemperature">
    {{weatherData && weatherData.main.temp || "0" }}°c
  </p>
  <hr />
  <ion-list>
    <ion-list-header>
      Forecast
    </ion-list-header>
    <ion-item *ngFor="let forecast of forecastData" detail-none>
      <ion-avatar item-start>
        <img src="http://openweathermap.org/img/w/{{forecast && forecast.weather[0].icon || '01d'}}.png"/>
      </ion-avatar>
      <h2>{{forecast.dt * 1000 | date: 'dd/MM H:mm'}} : {{forecast.weather[0].description}}</h2>
      <p>{{forecast.main.temp_max}} °c</p>
      <ion-note>{{forecast.main.temp_min}} °c</ion-note>
    </ion-item>
  </ion-list>
  
</ion-content>
