<ion-header>
  <ion-navbar>
    <ion-title>
      Favoris
    </ion-title>
    <ion-buttons end> 
      <button (click)="addCity()">
          <ion-icon name="add"></ion-icon>
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
          Forecast
        </ion-list-header>
        <ion-item *ngFor="let cityWeather of favorites" detail-none>
          <ion-avatar item-start>
            <img src="http://openweathermap.org/img/w/{{cityWeather && cityWeather.weather[0].icon || '01d'}}.png"/>
          </ion-avatar>
          <h2>{{cityWeather.name}} : {{cityWeather.weather[0].description}}</h2>
          <p>{{cityWeather.main.temp_max}} °c</p>
          <ion-note>{{cityWeather.main.temp_min}} °c</ion-note>
        </ion-item>
      </ion-list>
</ion-content>
